@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --dark: 218 17% 18%;
    --light: 0 0% 95%;

    /* Dùng cho các nội dung chữ chính như heading, gây sự chú ý */
    --background: 0 0% 100%;
    --foreground: 218 17% 18%;

    --card: 0 0% 95%;
    --card-foreground: 218 17% 18%;

    --popover: 0 0% 95%;
    --popover-foreground: 218 17% 18%;

    /* Dùng cho các nút chính, CTA, link */
    --primary: 86 35% 50%;
    --primary-outline: 86 35% 40%;
    --primary-foreground: 0 0% 100%;

    /* Nền của các thành phần phụ (button, footer) */
    --secondary: 218 17% 18%;
    --secondary-foreground: 0 0% 100%;

    /* Dùng cho các nội dung chữ phụ, tránh phân tâm */
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 50%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 50%;
    --input: 214.3 31.8% 91.4%;
    --ring: 218 17% 18%;

    --radius: 0.5rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --facebook: 217 100% 52%;
    --x: 0 0% 0%;
    --linkedin: 210 90% 40%;
  }

  [data-theme='dark'] {
    --dark: 218 17% 18%;
    --light: 0 0% 95%;

    --background: 218 17% 18%;
    --foreground: 0 0% 100%;

    --card: 218 17% 18%;
    --card-foreground: 0 0% 95%;

    --popover: 218 17% 18%;
    --popover-foreground: 0 0% 95%;

    --primary: 86 35% 50%;
    --primary-outline: 86 35% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 218 17% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 50%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 50%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {
  .divide-line::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    background-color: hsl(var(--primary));
    margin-top: 1rem;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* HEADER BEGIN */

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  align-items: center;
  border-bottom: 1px solid #e5e7eb; /* border-gray-200 */
  background-color: #fff; /* bg-white */
}

.header-logo-container {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 1px solid #e5e7eb; /* border-gray-200 */
}

.logo {
  @apply max-w-[70%] max-h-[70%] object-contain;
}

.header-content {
  @apply relative flex flex-1 h-full flex-col;
}

.header-row-1 {
  height: 42px;
  display: none;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: #6b7280; /* text-gray-500 */
}

.header-row-1 > * {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header-row-1 {
    display: flex;
  }
}

.header-row-1 .phone,
.header-row-1 .language {
  width: auto;
  padding-right: 1rem;
}

.header-row-1 .social-media {
  width: auto;
  padding-left: 1rem;
}

.header-row-1 .email {
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-row-1 .email,
.header-row-1 .workTime,
.header-row-1 .social-media {
  border-left: 1px solid #e5e7eb; /* border-gray-200 */
}

.header-row-1 .workTime {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-row-1 .language {
  display: flex;
  align-items: center;
}

.header-row-1 .email,
.header-row-1 .workTime {
  display: none;
}
@media (min-width: 1024px) {
  .header-row-1 .email,
  .header-row-1 .workTime {
    display: block;
  }
}

.header-row-1 .social-media {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
.header-row-1 .social-media > * {
  display: flex;
  align-items: center;
}
.header-row-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: 1px solid #e5e7eb; /* border-gray-200 */
}

/* HEADER END */

.hero-heading {
  @apply [&_h1]:max-w-2xl [&_h1]:mb-4 [&_h1]:text-4xl [&_h1]:font-extrabold [&_h1]:tracking-tight [&_h1]:leading-none [&_h1]:md:text-5xl [&_h1]:xl:text-6xl [&_h1:dark]:text-white;
}

.hero-heading h1 {
  max-width: 42rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  line-height: 1;
  color: inherit;
}
@media (min-width: 768px) {
  .hero-heading h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero-heading h1 {
    font-size: 3.75rem;
  }
}
.hero-heading h1.dark {
  color: #fff;
}

.flowbite-h2 {
  @apply [&_h2]:mb-4 [&_h2]:text-4xl [&_h2]:tracking-tight [&_h2]:font-extrabold [&_h2]:text-gray-900 [&_h2]:dark:text-white;
}

.flowbite-h2 h2 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  letter-spacing: -0.025em;
  font-weight: 800;
  color: #111827;
}
.flowbite-h2 h2.dark {
  color: #fff;
}

.hero-description {
  @apply [&_p]:max-w-2xl [&_p]:mb-6 [&_p]:font-light [&_p]:text-gray-500 [&_p]:lg:mb-8 [&_p]:md:text-lg [&_p]:lg:text-xl [&_p:dark]:text-gray-400;
}

.hero-description p {
  max-width: 42rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  color: #6b7280;
}
@media (min-width: 1024px) {
  .hero-description p {
    margin-bottom: 2rem;
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  .hero-description p {
    font-size: 1.125rem;
  }
}
@media (min-width: 1280px) {
  .hero-description p {
    font-size: 1.25rem;
  }
}
.hero-description p.dark {
  color: #9ca3af;
}

.gallery-content-heading {
  @apply [&_h2]:mb-4 [&_h2]:text-4xl [&_h2]:tracking-tight [&_h2]:font-extrabold [&_h2]:text-gray-900 [&_h2:dark]:text-white;
}

.gallery-content-subheading {
  @apply [&_p]:font-light [&_p]:text-gray-500 [&_p]:sm:text-lg [&_p]:md:px-20 [&_p]:lg:px-36 [&_p]:xl:px-48 [&_p:dark]:text-gray-400;
}

.cta-heading {
  @apply [&_h2]:mb-4 [&_h2]:text-4xl [&_h2]:tracking-tight [&_h2]:font-extrabold;
}

.cta-description {
  @apply [&_p]:mb-6 [&_p]:font-light [&_p]:md:text-lg [&_p]:text-gray-500 [&_p]:dark:text-gray-400;
}

.cta-button {
  @apply p-6 text-base;
}

.blog-image {
  @apply [&_div#media]:mb-5 [&_img]:rounded-lg [&_img]:object-cover [&_img]:w-full [&_img]:h-full [&_img]:absolute;
  @apply [&>div:nth-child(1)]:h-48;
}

.blog-title {
  @apply [&_h3]:my-2 [&_h3]:text-2xl [&_h3]:font-bold [&_h3]:tracking-tight [&_h3]:text-gray-900 [&_h3]:dark:text-white;
}

.blog-subtitle {
  @apply [&_p]:font-light [&_p]:text-gray-500 [&_p]:dark:text-gray-400 [&_p]:line-clamp-3;
}

.blog-no-padding {
  @apply [&_div:nth-child(2)]:p-0;
}

.blog-category {
  @apply [&_div.category]:w-fit [&_div.category]:bg-primary/20 [&_div.category]:text-primary [&_div.category]:text-xs [&_div.category]:font-semibold [&_div.category]:mr-2 [&_div.category]:px-2.5 [&_div.category]:py-0.5 [&_div.category]:rounded;
}

.table-column-width {
  @apply w-[30vw] md:w-[50vw] lg:w-[30vw];
}

.category-selected {
  @apply border border-primary text-primary hover:bg-primary/20;
}

.category-unselected {
  @apply hover:bg-muted;
}

.archieve-heading {
  @apply [&_h2]:mb-4 [&_h2]:text-4xl [&_h2]:tracking-tight [&_h2]:font-extrabold [&_h2]:text-gray-900 [&_h2]:dark:text-white;
}

.archieve-subheading {
  @apply [&_p]:font-light [&_p]:text-gray-500 [&_p]:sm:text-xl [&_p]:dark:text-gray-400;
}

.porto-hero-container {
  @apply relative w-full text-white mb-0 md:mb-24;
}

.porto-hero-text {
  @apply absolute top-0 right-0 lg:right-[18%] uppercase h-full md:w-auto w-full text-center md:text-left flex flex-col justify-center text-6xl md:text-7xl font-bold;
}

.porto-hero-image {
  @apply select-none;
}

.porto-hero-slider {
  @apply md:absolute flex md:flex-row flex-col w-full md:translate-y-1/2 translate-y-0 gap-x-3 bottom-0;
}

.hero-slider-heading {
  @apply flex-1 md:basis-1/3 basis-auto flex items-center py-0 md:py-6;
}

.hero-slider-heading-background {
  @apply bg-gray-800 w-full h-20 py-4 md:rounded-tr-md md:rounded-br-md rounded-none;
}

.hero-slider-heading-content {
  @apply container w-full h-full flex gap-4 items-center justify-start md:justify-end text-white text-2xl font-bold;
}

.hero-slider-navigator {
  @apply flex justify-center;
}

.hero-slider-left-btn,
.hero-slider-right-btn {
  @apply cursor-pointer hidden md:block;
}

.hero-slider-items-container {
  @apply hidden md:block flex-1 basis-2/3 md:px-0 w-full max-h-[13.2rem] overflow-x-auto no-scrollbar select-none snap-x;
}

.hero-slider-items {
  @apply relative container md:px-0 h-full flex flex-nowrap py-2 gap-3;
}

.mySwiper {
  @apply w-full h-full;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-white/70 text-dark rounded-full !w-8 !h-8;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m15 19-7-7 7-7'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m9 5 7 7-7 7'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-wrapper {
  @apply pb-2;
}

.news-title {
  @apply [&_h3]:my-2 [&_h3]:text-xl [&_h3]:font-bold [&_h3]:tracking-tight [&_h3]:text-gray-900 [&_h3]:dark:text-white;
}

.privacy-heading3 {
  @apply [&_h3]:text-2xl [&_h3]:divide-line;
}

.privacy-link {
  @apply [&_a]:text-primary;
}
